.blue {
    background: linear-gradient(0deg, white, 10%, blue);
    height: 45vh;
    width: 100%;
    position: absolute;
    top: 0;
}

.red {
    background-color: red;
    height: 17vh;
    width: 100%;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.policeImg {
    height: 15vh;
    top: 50%;
    position: absolute;
    left: 30px;
    transform: translateY(-50%);
}

.textBox {
    position: absolute;
    top: 20%;
}

.title {
    color: white;
    font-weight: 500;
    font-size: 60px;
    transform: translateY(-100%);

}

.content {
    color: white;
    font-weight: 600;
    font-size: 20px;
    transform: translateY(-450%);
}


.warning {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}